{% extends 'menuPrincipal.html' %}

{% block content %}
<div class="container-fluid">
  <h2 class="display-5 font-weight-bold text-secondary mt-lg-n2">
    Usuarios del <span class="text-primary"> Sistema</span>
  </h2>
  <p>Lista de usuarios del sistema</p>

  <table class="table table-striped">
    <thead class="bg-dark text-white text-center">
      <tr>
        <th>Rol</th>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Correo</th>
      </tr>
    </thead>

    {% for u in usuarios %}
    <tr>
      <td>{{ u.0 }}</td>
      <td>{{ u.1 }}</td>
      <td>{{ u.2 }}</td>
      <td>{{ u.3 }}</td>
      <td>{{ u.4 }}</td>
      <td>{{ u.5 }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}