{% extends 'menuPrincipal.html' %}
{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Empresas que requieren atención </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">2</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-building fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Procesos que requieren atención</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cantidad_procesos_atrasados.0.0 }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Procesos Optimizables
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ cantidad_procesos_optmizables.0.0 }}</div>
                </div>
                
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-cog fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Empresas Pendientes de Orgánica</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ empresas_pendientes.0.0 }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-sitemap fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Content Column -->
    <div class="col-sm-12">

      <!-- Project Card Example -->
      <div class="card shadow mb-4 text-capitalize">
        <div class="card-header py-3 bg-dark">
          <h6 class="m-0 font-weight-bold text-white">Empresas que requieren atención en sus procesos.</h6>
        </div>
        <br>
        {% for u in lista_empresas_atencion %}
        <button type="button" class="btn btn-warning text-dark" data-toggle="collapse" data-target="#ID{{ u.0 }}"
          style="align:center">
          {{ u.1 }}</button>
        <br>
        <div id="ID{{ u.0 }}" class="collapse">
          <div style="text-align:center">

            <div class="card shadow mb-4">

              <div class="card-body">
                <div class="row row-cols-1 row-cols-md-2">
                  {% for c in procesos_atrasados %}

                  {% if u.0 == c.2 %}

                  <div class="col mb-4">
                    <div class="card border-warning mb-3">
                      <div class="card-header bg-warning text-dark"><a
                          href="{% url 'lista_procesos_comparativos' c.3 %}" class="small font-weight-bold">{{ c.0}}

                        </a></div>
                      <div class="card-body">

                        <p class="card-text text-dark">{{ c.1 }}</p>
                      </div>
                    </div>
                  </div>

                  {% endif %}

                  {% endfor %}
                </div>
              </div>
            </div>


          </div>



        </div>

        {% endfor %}


        <br>



      </div>
    </div>

  </div>

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-dark">
          <h6 class="m-0 font-weight-bold text-white">Empresas con mayores retrasos en sus Procesos.
          </h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>

              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>





        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="TareasTrabajadoresUnidad"></canvas>
          </div>
        </div>
      </div>
    </div>

     <!-- Area Chart -->
     <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-dark">
          <h6 class="m-0 font-weight-bold text-white">Empresas que presentan mayores Procesos Optimizables
          </h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>

              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>





        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="TareasTrabajadoresOptimo"></canvas>
          </div>
        </div>
      </div>
    </div>

    


  </div>

  <div class="row">
    <!-- Content Column -->
    <div class="col-sm-12">

      <!-- Project Card Example -->
      <div class="card shadow mb-4 text-capitalize">
        <div class="card-header py-3 bg-dark">
          <h6 class="m-0 font-weight-bold text-white">Empresas con procesos Optimizables.</h6>
        </div>
        <br>
        {% for u in lista_empresas_optimizables %}
        <button type="button" class="btn btn-warning text-dark" data-toggle="collapse" data-target="#ID{{ u.0 }}"
          style="align:center">
          {{ u.1 }}</button>
        <br>
        <div id="ID{{ u.0 }}" class="collapse">
          <div style="text-align:center">

            <div class="card shadow mb-4">

              <div class="card-body">
                <div class="row row-cols-1 row-cols-md-2">
                  {% for c in procesos_optimizables %}

                  {% if u.0 == c.2 %}

                  <div class="col mb-4">
                    <div class="card border-warning mb-3">
                      <div class="card-header bg-warning text-dark"><a
                          href="{% url 'lista_procesos_comparativos' c.3 %}" class="small font-weight-bold">{{ c.0}}

                        </a></div>
                      <div class="card-body">

                        <p class="card-text text-dark">{{ c.1 }}</p>
                      </div>
                    </div>
                  </div>

                  {% endif %}

                  {% endfor %}
                </div>
              </div>
            </div>


          </div>



        </div>

        {% endfor %}


        <br>



      </div>
    </div>

  </div>


  <div class="row">

   

    <div class="col-lg-12 mb-4">

      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3 bg-dark">
          <h6 class="m-0 font-weight-bold text-white">Empresas con Orgánica Pendiente</h6>
        </div>

        <div class="card-body">
          {% for p in empresas_pendientes_s %}



          <div>
            <a href="{% url 'unidad' %}" class="small font-weight-bold">{{ p.1}}

            </a>

          </div>



          {% endfor %}

        </div>


      </div>


      <!-- Pie Chart -->

    </div>

    


  </div>


  <div class="row">
    <!-- Content Column -->
    <div class="col-sm-12">

      <!-- Project Card Example -->
      <div class="card shadow mb-4 text-capitalize">
        <div class="card-header py-3 bg-dark">
          <h6 class="m-0 font-weight-bold text-white">Empresas</h6>
        </div>
        <br>
        {% for u in lista_empresas %}
        <button type="button" class="btn btn-warning text-dark" data-toggle="collapse" data-target="#ID{{ u.0 }}"
          style="align:center">
          {{ u.2 }}</button>
        <br>
        <div id="ID{{ u.0 }}" class="collapse">

          <div class="card-body">
            {% for c in unidades %}
            {% if u.0 == c.1 %}


            <div style="text-align:center">
              <button type="button" class="btn btn-warning text-dark" data-toggle="collapse" data-target="#{{ c.2 }}">
                {{ c.2 }}</button>
              <br>
              <br>

              <div id="{{ c.2 }}" class="collapse">





                <div class="card shadow mb-4">

                  <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2">
                      {% for p in procesos_ejecutados %}

                      {% if c.0 == p.2 %}

                      <div class="col mb-4">
                        <div class="card border-warning mb-3">
                          <div class="card-header bg-warning text-dark"><a
                              href="{% url 'lista_procesos_comparativos' p.5 %}" class="small font-weight-bold">{{ p.4}}

                            </a></div>
                          <div class="card-body">

                            <p class="card-text text-dark">{{ p.6 }}</p>
                          </div>
                        </div>
                      </div>

                      {% endif %}

                      {% endfor %}
                    </div>
                  </div>
                </div>








              </div>
            </div>

            {% endif %}

            {% endfor %}

          </div>

        </div>

        {% endfor %}


        <br>



      </div>
    </div>

  </div>





  <script>


    // Gráfico de las TAREAS Funcionarios
    var ctx = document.getElementById("TareasTrabajadoresUnidad");
    var EstadisticaUnidadChart = new Chart(ctx, {
      type: 'bar',

      data: {
        labels: [{% for fr in funcionario_responsables %} "{{ fr.1 }}", {% endfor %}],
    datasets: [{
      barPercentage: 0.5,
      categoryPercentage: 0.8,
      data: [{% for fr in funcionario_responsables %} {{ fr.0 }}, {% endfor %}, 0],
      backgroundColor: ['#f54242', '#f54242', '#e74a3b'],

      }],
      },
    options: {
      maintainAspectRatio: false,
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#f54242",
            borderColor: '#dddfeb',
              borderWidth: 1,
                xPadding: 15,
                  yPadding: 15,
                    displayColors: false,
                      caretPadding: 10,
          },
      legend: {
        display: false
      },
      cutoutPercentage: 80,
      },
  });
  </script>


<script>


  // Gráfico de las TAREAS Funcionarios
  var ctx = document.getElementById("TareasTrabajadoresOptimo");
  var EstadisticaUnidadChart = new Chart(ctx, {
    type: 'bar',

    data: {
      labels: [{% for fr in optimizables_barra %} "{{ fr.1 }}", {% endfor %}],
  datasets: [{
    barPercentage: 0.5,
    categoryPercentage: 0.8,
    data: [{% for fr in optimizables_barra %} {{ fr.0 }}, {% endfor %}, 0],
    backgroundColor: ['#1cc88a', '#1cc88a', '#e74a3b'],

    }],
    },
  options: {
    maintainAspectRatio: false,
      tooltips: {
      backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
          borderColor: '#dddfeb',
            borderWidth: 1,
              xPadding: 15,
                yPadding: 15,
                  displayColors: false,
                    caretPadding: 10,
        },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
    },
});
</script>
  <!-- /.container-fluid -->

  <!-- End of Main Content -->

  {% endblock %}