.bg-wf {
    background-color: #42a5f5 !important;
}

.bg-process {
    background-color: #333333 !important;
}

.bg-orange {
    background-color: #ff8c00 !important;
}

.bg-wfhead {
    background-color: #002b48 !important;
}

.text-process {
    color: #ff8c00 !important;
}

.text-wf {
    color: #002b48 !important;
}